<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.addInvestorTitle}">Add Investor</title>

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/investors.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1 th:text="#{app.addNewInvestor}">Add Investor</h1>

    <form th:action="@{/investors/addinvestor}" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" th:text="#{app.investorName}">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
            <div class="invalid-feedback" th:text="#{app.nameFeedback}">Please provide an investor's name.</div>
        </div>
        <div class="mb-3">
            <label for="birthDate" th:text="#{app.birthDate}">Birth Date:</label>
            <input type="date" id="birthDate" name="birthDate" class="form-control" required>
            <div class="invalid-feedback" th:text="#{app.birthDateFeedback}">Please provide the birth date.</div>
        </div>
        <div class="mb-3">
            <label for="contactDetails" th:text="#{app.contactDetails}">Contact Details:</label>
            <input type="text" id="contactDetails" name="contactDetails" class="form-control" required>
            <div class="invalid-feedback" th:text="#{app.contactDetailsFeedback}">Please provide contact details.</div>
        </div>
        <div class="mb-3">
            <label for="riskProfile" th:text="#{app.riskProfile}">Risk Profile:</label>
            <input type="text" id="riskProfile" name="riskProfile" class="form-control" required>
            <div class="invalid-feedback" th:text="#{app.riskProfileFeedback}">Please specify the risk profile.</div>
        </div>
        <button type="submit" class="btn" th:text="#{app.addInvestorButton}">Add Investor</button>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/animations.js"></script>
</body>
</html>

